{% extends 'layout/base.html' %}

{% block content %}
   <div class='input'>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ audio.as_p}}
            <input type="submit" value="View Tags">
        </form>
   </div>
   <div class='output'>
       {% if audio_tags != None  %}
            {% for key, data in audio_tags.items %}
            <p>{{ key }} ===={{ data }} </p>
            {% endfor %}
        {% endif %}
   </div>
   <div>
       Notification center
   </div>
{% endblock %}