{% extends 'base/index-base.html' %}
{% load static %}
{% block content %}
    <div class="hero-area">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
              <div class="hero-content">
                  <h5>Present your audio</h5>
                  <h5 class="text-3">And let s<i class="fa fa-laugh-wink"></i>undre transform it.</h5>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Feature Area Starts -->
    <div class="feature-area">
      <div class="container">
        <div class="row mb-d-30">
          <div class="col-lg-4 col-sm-6 mb--30">
            <div class="feature-widget">
              <div class="widget-icon">
                <i class="icon icon-edit-72"></i>
              </div>
              <div class="content">
                <h5>Easy to Use</h5>
                <p>Customizing audio is easy and fast.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb--30">
            <div class="feature-widget">
              <div class="widget-icon">
                <i class="icon icon-layers-3"></i>
              </div>
              <div class="content">
                <h5>Free</h5>
                <p>Soundre is available and free for all.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb--30">
            <div class="feature-widget">
              <div class="widget-icon">
                <i class="icon icon-tablet-mobile"></i>

              </div>
              <div class="content">
                <h5>Open-source</h5>
                <p>Soundre is an open source software.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}