{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soundre</title>
    <link rel="stylesheet" href="{% static 'css/apps.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:300,400,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fe6c0f80e.js"></script>
    <script type='text/javascript'>
        const runApp = (function(){
            document.addEventListener('click', ({target})=>{
                if(target.id == 'notification'){
                    setTimeout(function(){
                    document.querySelector('.alert').style.display = 'none'
                    }, 2000)
                }
                
            })
        })()
    </script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <div class='app-view'>
        <header class='header'>
            {% include 'includes/header.html' %}
        </header>
        {% include 'includes/notification.html' %}
        <main class='main-content'>
        <div class='layout-1'>

                {% block content %}
                {% endblock %}
            </div>
            <div class='layout-1'>

                {% block output %}
                {% endblock %}
            </div>
        </main> 
        <footer>
            {% include 'includes/footer.html' %}
        </footer>
    </div>
</body>
</html>