<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Soundre </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fetchAudio" href="#" data-action-type="cropping" data-toggle="modal" data-target="#audioModal">
          <i class="fas fa-fw fa-cut"></i>
          <span>Crop Audio</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fetchAudio" href="#" data-action-type="merging" data-toggle="modal" data-target="#audioModal">
          <i class="fas fa-fw fa-stamp"></i>
          <span>Stamp Audio</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fetchAudio" href="#" data-action-type="tagging" data-toggle="modal" data-target="#audioModal">
          <i class="fas fa-fw fa-edit"></i>
          <span>Edit Audio Tag</span></a>
      </li>

    </ul>
    <!-- End of Sidebar -->

<div class="modal" id="audioModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fetch all audio available </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="all-audio">
        <p >Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>