{% extends 'layout/base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="add cover picture">
</form>
{% endblock %}

{% block output %}
     <h2> <i class='fas fa-images'></i> Cover Picture </h2>
    {% for file in files %}
        <p class='ui-list' id="{{ file.hash }}" data-link={{ file.hash }}>
         <span class='title'> {{ file.name }}</span>
         <span><a class='red' id='delete' href="">Delete </a></span> 
            </p>
    {% endfor %}
{% endblock %}