{% extends 'layout/base.html' %}

{% block content %}
<h2 style='font-family:Roboto;text-align:center;margin:10px;'>Remove Seconds From Sound</h2>

    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Remove">
    </form>
{% endblock %}

{% block output %}
<h3 style='font-family:Roboto;text-align:center;margin:10px;'>Now Playing {{name}}</h3>
<div>
    <audio src="{{audio.url}}" controls>
        Get Audio <a href="{{audio.url}}">{{ audio.name }}</a>
    </audio>
</div>
{% endblock %}